section {
  width: 100%;
  .sectioncon {
    width: 100%;
    .text {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      gap: 10px;

      h1 {
        font-size: 35px;
        font-family: "Poppins", sans-serif;
        color: #222222;
        line-height: 1.2em !important;
        margin-bottom: 0;
        margin-top: 0;
        font-weight: 600;
      }

      p {
        color: #777777;
        font-family: "Poppins", sans-serif;
        font-size: 14px;
        font-weight: 300;
        line-height: 1.625em;
      }
    }
    .loadmore{
      height: 40px;
      width: 15%;
      border: none;
      transition: all 0.1s ease;
      font-size: 12px;
      cursor: pointer;
      &:hover{
      transform: scale(1.1);
      background-image: -webkit-linear-gradient(0deg, #828fff 0%, #d496ff 100%);
      color: white;
    }
    }

    .robotdivclass {
      display: flex;
      width: 100%;
      min-height: 600px;
      flex-wrap: wrap;
      .robot {
        width: 25%;
        gap: 20px;
        min-height:400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        h1 {
          font-family: "Poppins", sans-serif;
          font-size: 19px;
        }

        p {
          display: block;
          margin-block-start: 1em;
          margin-block-end: 1em;
          margin-inline-start: 0px;
          margin-inline-end: 0px;
          color: #777777;
          text-align: center;
          font-size: 14px;
          width: 80%;
        }

        .nam {
          width: 70%;
          height: 40px;
          text-decoration: none;
          align-items: center;
          display: flex;
          justify-content: center;
        

        button {
          height: 40px;
          width: 70%;
          border: none;
          transition: all 0.1s ease;
          font-size: 12px;
          cursor: pointer;
          &:hover{
          transform: scale(1.1);
          background-image: -webkit-linear-gradient(0deg, #828fff 0%, #d496ff 100%);
          color: white;
        }
        }}
        button {
          height: 40px;
          width: 50%;
          border: none;
          transition: all 0.1s ease;
          font-size: 12px;
          cursor: pointer;
          &:hover{
          transform: scale(1.1);
          background-image: -webkit-linear-gradient(0deg, #828fff 0%, #d496ff 100%);
          color: white;
        }
      }
      
    }
  }
}

@media only screen and (max-width: 768px) {
  section {
    width: 100%;
    min-height: 1500px;
    .sectioncon {
      width: 100%;
      min-height: 1500px;
      flex-direction: column;
      .text {
        min-height: 200px;
        margin-top: -100px;
        margin-bottom: 30px;
        h1 {
          text-align: center;
          font-size: 29px;

        }
      }

      .robotdivclass {
        width: 100%;
        min-height: 1000px;
        flex-wrap: nowrap;
        flex-direction: column;
        gap: 20px;
        .robot {
          width: 100%;
          min-height: 200px;
          .nam {
            display: flex;
            justify-content: center;
            align-items: center;
            button {
              width: 30%;
              &:hover {
                transform: scale(1.1);
                background-image: -webkit-linear-gradient(0deg, #828fff 0%, #d496ff 100%);
                color: white;
              }
            }
          }
        }
      }
    }
  }
}}